{% comment %} announcement bar {% endcomment %}

{% if section.settings.show_announcement %}
<section class="announcement">
    <div class="container text-center">
        <h2>{{ section.settings.announcement_text }}</h2>
    </div>
</section>
{% endif %}


{% schema %}
{
    "name": "Announcement Bar",
    "settings": [
    {
        "type": "checkbox",
        "id": "show_announcement",
        "label": "Show announcement",
        "default": true
    },
    {
        "type": "text",
        "id": "announcement_text",
        "label": "Announcement Text",
        "default": "Enter text here"
    },
    ],
    "presets": []
}
{% endschema %}