<section>
    <div class="container">
        <h2 class="bg-red-800 text-white text-center">Banner Test Sections</h2>
    </div>
</section>

{% schema %}
{
    "name" : "test",
    "settings": [],
    "presets": [
        {
            "name": "test"
        }
    ]
}
{% endschema %}